$gris : #343a40;
$azul: #007bff;
$celeste : #008ccb;
$gris_claro: #aebbc7;
$blanco: #ffffff;

#contenedor {
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 1em;
    margin-bottom: 2em; 
  }
  
  #contenedor #btnModal {
    margin: 1em 0;
  }

.cont-huella{
    background-color: $gris_claro;
    min-height: 8em;
}
.hidden{
    visibility: hidden
} 
