$gris : #343a40;
$azul: #007bff;
$celeste : #008ccb;
$blanco: #ffffff;

.table-responsive{
    padding-left: 2em;
    padding-right: 2em;
}

#contenedor #btnModal{
    margin: 2em;
}

form button{
    margin-right: 3em;
}

$custom-file-text: (
  en: "Browse",
  es: "Elegir"
);